<div class="bar@top_of_screen">
  <a href="/home">home</a>
  <a href="/">housethatlivein</a>
  <a href="/porg">porgaming</a>
  <a href="/dbzsa">db</a>
  <a href="/flappybird">game</a>
  <a href="/mokePon">mokePon gotta catch im all</a>
</div>