<canvas id="canvasss"> 
</canvas>
<audio src="sound/gun.mp3" id="gun" ></audio>
  <audio src="sound/bong_taco.mp3" id="bong"></audio>
   <audio src="sound/pingPong.mp3" id="ping"></audio>
    <audio src="sound/pingPong2.mp3" id="pong"></audio>
  <button id="button">
    unmute
  </button>
<script src="js/pinball/circle.js" type="module"></script>
