<div class="dropdown">

  <div id="myDropdown" class="dropdown-content">
    <input type="text" id="f">
<button id="j">
  change height
</button>
<button id="i">
  reset
</button>
<select name="cars" id="canvas_width">
  <option value='200'>200</option>
  <option value="100">100</option>
  <option value="300">300</option>
  <option value="400">400</option>
</select>
  </div>
</div>

<canvas
  id="myCanvas" height="100" width="100">
</canvas>
<script>
  const canvas = document.getElementById("myCanvas")
 const dropdown = document.getElementById("canvas_width")
  const button = document.getElementById("j")
  const button2 = document.getElementById("i")
  button2.addEventListener("click", (b) => {
    canvas.height = 100
    canvas.width = 100
  })
  button.addEventListener("click", (t)=> {
    const input = document.getElementById("f")
    console.log(input.value)
    canvas.height  =  parseInt(input.value, 10) 
     canvas.width  =  parseInt(input.value, 10) 
  })
 dropdown.addEventListener("change", (e) => {
console.log(e.target.value)
canvas.width  =  parseInt(e.target.value, 10) 
console.log(canvas.width)
 
 })
</script>
